body {
	font-family: Impact, fantasy;  /* Anger textfont*/
	background-color: white; /* Bakgrundsfärg på sidan */
	text-align: center; /* Centrerar all text */
	margin: 0; /* Tar bort standardmarginaler */
	padding: 0;  /* Tar bort standardpadding */
}

h1 {
	color: #333; /* Sätter textfärg till mörkgrå */
	margin-top: 20px; /* Ger avstånd på 20px ovanför rubriken */
	font-size: 2rem; /* Sätter fontstorleken */
}



iframe {
width: 560px; /* Sätter bredden på iframe*/
height: 315px; /* Anger höjden på iframe*/
border: none; /* Tar bort ram runt iframe */
margin: 20px auto; /* Ger avstånd på 20px runt iframe */
display: block; /* Gör den till ett blockelement*/
}

iframe.small {
	width: 400px; /* Gör så att iframe blir mindre genom att minska bredden*/
	height: 225px; /* Höjden minskas så iframe blir mindre */
}

iframe.large {
	width: 800px; /* Sätter bredden så det blir större */
	height: 450px; /* Sätter höjden så den blir större */
}


